body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(62, 81, 81), rgb(222, 203, 164));
}

.calculadora{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    background-color: coral;
 
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}